<style>
	@media only screen and (min-width: 600px) {
		.standalone-nav-bar {
		    display: block;
		    border-bottom: 1px solid #e4e5e7;
		}
	}

	.standalone-nav-bar {
    	background-color: #fff;
	}

	.standalone-nav-bar>div {
    	padding: 0 32px;
	}

	.standalone-nav-bar>div .categories-menu-package {
	    background-color: #fff;
	    margin: 0 auto;
	    max-width: 1400px;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.categories-menu-package .categories.nav-tool-categories {
	    height: 100px;
	    position: relative;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	}

	.categories-menu-package .static>p, .categories-menu-package a {
	    display: block;
	    position: relative;
	    font-size: 16px;
	    line-height: 24px;
	    color: #62646a;
	    padding: 8px 0;
	    text-decoration: none;
	}

	.categories-menu-package .categories {
    	padding: 0;
    	margin: 0;
	}

	nav ul {
    	list-style: none;
   	 	list-style-image: none;
	}

	@media only screen and (min-width: 600px) {
		.categories-menu-package {
    		position: relative;
    		overflow: hidden;
		}

		.categories-menu-package .categories {
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: justify;
		    justify-content: space-between;
		    max-width: 1400px;
		    overflow-x: auto;
		    overflow-y: hidden;
		    margin-bottom: -60px;
		    padding-bottom: 60px;
		}
	}

		
</style>	
<div class="categories_menu-package standalone-nav-bar">
        
    <script>
        window.initialData = window.initialData || {};
        window.initialData['CategoriesMenu'] = {"config":{"level_1":{"0":[{"id":"6ZlNSj1NYr5zhyqzUD40o1","alias":"Graphics \u0026 Design","type":"category","urlParams":{"id":"3"},"displayData":{"title":"Graphics \u0026 Design","subTitle":"A single place, millions of creative talents"},"menuType":"buckets_without_title","designStyle":"Buckets without Title"},{"id":"7LkoMDgT1AoN4e8Dn8PuIW","alias":"Digital Marketing","type":"category","urlParams":{"id":"2"},"displayData":{"title":"Digital Marketing","subTitle":"Update and upgrade your business online"},"menuType":"default","designStyle":"List"},{"id":"3hSkfGqchCnpsM9jxw1762","alias":"Writing \u0026 Translation","type":"category","urlParams":{"id":"5"},"displayData":{"title":"Writing \u0026 Translation","subTitle":"Have a way with words. Get copy, translation \u0026 editorial work from freelancers"},"menuType":"default","designStyle":"List"},{"id":"5ADkrbUQCr928aWcq5LIE4","alias":"Video \u0026 Animation","type":"category","urlParams":{"id":"20"},"displayData":{"title":"Video \u0026 Animation","subTitle":"Your story's unique. Tell it differently with custom video \u0026 animation services"},"menuType":"default","designStyle":"List"},{"id":"A96vnrpDNaF6rOMYIrXJm","alias":"Music \u0026 Audio","type":"category","urlParams":{"id":"12"},"displayData":{"title":"Music \u0026 Audio","subTitle":"You've got a message. Let the world hear it with music, audio \u0026 voice services"},"menuType":"default","designStyle":"List"},{"id":"2MWuMkcI2S4VMQPeKAqMem","alias":"Programming \u0026 Tech","type":"category","urlParams":{"id":"10"},"displayData":{"title":"Programming \u0026 Tech","subTitle":"Get all the technical bells and whistles without paying for a programming degree"},"menuType":"default","designStyle":"List"},{"id":"4xh5fhJadkFqZltJHL3Jxs","alias":"Business","type":"category","urlParams":{"id":"8"},"displayData":{"title":"Business","subTitle":"Your business = your passion. Outsource smaller tasks so you can focus on growth"},"menuType":"default","designStyle":"List"},{"id":"5GnSxnzHERwaNpdRRl5mYZ","alias":"Lifestyle","type":"category","urlParams":{"id":"7"},"displayData":{"title":"Lifestyle","subTitle":"Improve your quality of life with style"},"menuType":"default","designStyle":"List"},{"id":"XW9kHUVFCkmQGETe2EFVM","alias":"Industries","type":"static","displayData":{"title":"Industries","subTitle":null},"menuType":"multi_panel","designStyle":"Panel"}]}},"useCmsConfig":true,"shouldPreRender":false,"theme":"default","locale":"en-US"};
    </script>

        <div id="CategoriesMenu-component"><nav class="categories-menu-package default" data-reactroot=""><ul class="categories nav-tool-categories"><li class="sub-menu-item target top-level buckets_without_title buckets-without-title"><a href="/categories/graphics-design?source=category_tree">Graphics &amp; Design</a></li><li class="sub-menu-item target top-level default list"><a href="/categories/online-marketing?source=category_tree">Digital Marketing</a></li><li class="sub-menu-item target top-level default list"><a href="/categories/writing-translation?source=category_tree">Writing &amp; Translation</a></li><li class="sub-menu-item target top-level default list"><a href="/categories/video-animation?source=category_tree">Video &amp; Animation</a></li><li class="sub-menu-item target top-level default list"><a href="/categories/music-audio?source=category_tree">Music &amp; Audio</a></li><li class="sub-menu-item target top-level default list"><a href="/categories/programming-tech?source=category_tree">Programming &amp; Tech</a></li><li class="sub-menu-item target top-level default list"><a href="/categories/business?source=category_tree">Business</a></li><li class="sub-menu-item target top-level default list"><a href="/categories/lifestyle?source=category_tree">Lifestyle</a></li><li class="sub-menu-item target top-level multi_panel static panel"><p>Industries</p></li></ul></nav></div>
        

        



    </div>